body {
    background-color: #000;
    margin: 0;
}

nav{
	padding: 10px;
	max-width: 150px;
}

/*===============Example 1===================*/
main {
    padding: 10px;
}

#wrap-example-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - 20px);
}

#wrap-example-1 > * {
    max-width: 920px;
    width: 100%;
}