body {
    background-color: #000;
}

nav{
	padding: 10px;
	max-width: 150px;
}

/*===============Example 1===================*/
#wrap-example-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#wrap-example-1 > * {
    max-width: 640px;
    width: 100%;
}